@model DinamikWebSite.Models.Entity.Urunler
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Urunler", FormMethod.Post))
            {
                <div style="margin-left:-550px; margin-top:-90px";>
                    <label>Ürün Id</label>
                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                    <br />
                    <label>Ürün Ad</label>
                    @Html.TextBoxFor(m=>m.UrunAd, new {@class="form-control"})
                    <br />
                    <label>Ürün Kategori</label>
                    @Html.DropDownListFor(m => m.Kategori.Id, (List<SelectListItem>)ViewBag.urun, new { @class = "form-control" })
                    <br />
                    <label>Ürün Marka</label>
                    @Html.TextBoxFor(m => m.UrunMarka, new { @class = "form-control" })
                    <br />
                    <label>Ürün Fiyat</label>
                    @Html.TextBoxFor(m => m.UrunFiyat, new { @class = "form-control" })
                    <br />
                    <label>Ürün Stok</label>
                    @Html.TextBoxFor(m => m.Stok, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-warning">Ürün Güncelle</button>
                </div>
            }

